{% load static %}

<div class="latestnew">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-8">
        <div class="ads">
          {% for ad in ads_news %}
          <img src="{% static ad.img_src %}" alt="" width="{{ ad.img_width }}" height="{{ ad.img_height }}">
          {% endfor %}
        </div>
        <div class="title-hd">
          <h2>Latest news</h2>
        </div>
        <div class="tabs">
          <div class="tab-content">
            <div id="tab31" class="tab active">
              <div class="row">
                <div class="blog-item-style-1">
                  {% if news_featured %}
                  <img src="{% static news_featured.img_src %}" alt="{{ news_featured.img_alt }}" width="{{ news_featured.img_width }}" height="{{ news_featured.img_height }}">
                  <div class="blog-it-infor">
                    <h3><a href="#">{{ news_featured.title }}</a></h3>
                    <span class="time">{{ news_featured.time }}</span>
                    <p>{{ news_featured.content }}</p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="morenew">
          <div class="title-hd">
            <h3>More news on Blockbuster</h3>
            <a href="#" class="viewall"
              >See all Movies news<i class="ion-ios-arrow-right"></i
            ></a>
          </div>
          <div class="more-items">
            <div class="left">
              {% for news in news_extra %}
              <div class="more-it">
                <h6><a href="#">{{ news.title }}</a></h6>
                <span class="time">{{ news.time }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar">
          <div class="sb-twitter sb-it">
            <h4 class="sb-title">Tweet to us</h4>
            <div class="slick-tw">
              <!--  DB  -->
              <div class="tweet item" id="">
                <!-- Put your twiter id here -->
                Just watched Interstellar again 🚀🌌—still blown away by the
                visuals, the emotion, and that mind-bending journey through
                space and time. A true masterpiece that never gets old. ⭐️
                #MovieNight #SciFiD
              </div>
              <div class="tweet item" id="">
                <!-- Put your 2nd twiter account id here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
