<div class="login-wrapper" id="signup-content">
  <div class="login-content">
    <a href="#" class="close">x</a>
    <h3>sign up</h3>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <div class="row">
        <label for="username-2">
          Username:
          {{ signup_form.username }}
          <span class="error error-username"></span>
        </label>
      </div>

      <div class="row">
        <label for="email-2">
          your email:
          {{ signup_form.email }}
          <span class="error error-email"></span>
        </label>
      </div>
      <div class="row">
        <label for="password-2">
          Password:
          {{ signup_form.password1 }}
          <span class="error error-password1"></span>
        </label>
      </div>
      <div class="row">
        <label for="repassword-2">
          re-type Password:
          {{ signup_form.password2 }}
          <span class="error error-password2"></span>
        </label>
      </div>
      <div class="row">
        <button type="submit">sign up</button>
      </div>
      <span class="error error-non_field_errors"></span>
      <span class="success success-message"></span>
    </form>
  </div>
</div>
