{% load dict %}
{% load static %}
<div class="slider movie-items">
  <div class="container">
    <div class="row">
      <div class="social-link">
        <p>Follow us:</p>
        <!-- DB -->
        {% for social in socials %}
        <a href="{{ social.url }}" class="{{ social.anchor_class }}"
          ><i class="{{ social.icon_class }}"></i
        ></a>
        {% endfor %}
      </div>
      <div class="slick-multiItemSlider">
        <!--  DB  -->
        {% for slider in sliders %}
        <div class="movie-item">
          <div class="mv-img">
            <a href="{{ slider.anchor_url }}"
              ><img
                src="{% static slider.image_src %}"
                alt=""
                width="{{ slider.image_width }}"
                height="{{ slider.image_height }}"
            /></a>
          </div>
          <div class="title-in">
            <div class="cate">
              {% for genre in slider.movie_genres.all %}
              <span class="{{ genre.color }}"><a href="#">{{ genre.name }}</a></span>
              {% endfor %}
            </div>
            <h6><a href="{{ slider.anchor_url }}">{{ slider.movie_title}}</a></h6>
            <p><i class="ion-android-star"></i><span>{{ slider.upper_rating }}</span> / {{ slider.lower_rating }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
