{% load static %}
{% load minSec %}
<div class="trailers">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-12">
        <div class="title-hd">
          <h2>in theater</h2>
          <a href="#" class="viewall"
            >View all <i class="ion-ios-arrow-right"></i
          ></a>
        </div>
        <div class="videos">
          <div class="slider-for-2 video-ft">
            <!-- DB -->
            {% for t in trailers %}
            <div>
              <iframe
                class="item-video"
                src="{{t.trailer_url}}"
                data-src="{{t.trailer_url}}"
                allow="
                  accelerometer;
                  autoplay;
                  clipboard-write;
                  encrypted-media;
                  gyroscope;
                  picture-in-picture;
                  web-share;
                "
                referrerpolicy="strict-origin-when-cross-origin"
              ></iframe>
            </div>
            {% endfor %}
          </div>
          <div class="slider-nav-2 thumb-ft">
            <!-- DB -->
            {% for t in trailers %}
            <div class="item">
              <div class="trailer-img">
                <img
                  src="{% static t.img_src %}"
                  alt="{{t.img_alt}}"
                  width="{{t.img_width}}"
                  height="{{t.img_height}}"
                />
              </div>
              <div class="trailer-infor">
                <h4 class="desc">{{t.description}}</h4>
                <p>{{t.duration|min_sec}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
